.burgerNav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 300px;
    z-index: 100;
    list-style: none;
    padding: 20px;
    transition: transform 0.2s ease-in;    

    .closePlaceholder {
        display: flex;
        justify-content: end;

        .closeIcon {        
            cursor: pointer;
        }
    }


    li {
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);

        a {
            font-weight: 600;
        }
    }
}